<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="registrasi-user">
        <h1>Halaman Login</h1>
        <form action="/login_user" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required autocomplete="off">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required autocomplete="off">

            <button type="submit">Login</button>
            <a href="/registrasi_user">Belum Punya Akun? Registrasi!</a>
        </form>
    </div>
</body>
</html>