<!-- Navigasi -->
<nav class="menu-utama">
    <ul>
      <img class="gambar-logo" src="img/2-1.png" alt="logo" width="100px" />
      <h1 class="suaka">SUAKA</h1>
      <li><a href="/index">Home</a></li>
      <li>
        <a href="">Kisah</a>
        <ul class="sub-menu">
          <li><a href="/cerpen_user">Cerita Pendek</a></li>
          <li><a href="/film">Film Pendek</a></li>
        </ul>
      </li>
      <li><a href="/curhat_user">Curhat</a></li>
      <li class="right">
        <a href="/profile_user"><%= user.username %></a>
        <ul class="sub-menu-right">
          <li><a href="/profile_user">Profil</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>